.vs
Binaries
Saved/Logs
Intermediate
Saved/Config/WindowsEditor/SourceControlSettings.ini
Saved/Autosaves
Saved/Config/WindowsEditor
Saved/Crashes
Saved/WorldPartition
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient
Build
Saved/Cooked
Saved/MaterialStats
Saved/MaterialStatsDebug
Saved/Shaders/GLSL_ES3_1_ANDROID
Saved/Shaders/SF_VULKAN_ES31_ANDROID
