.vs
Binaries
Saved/Logs
Intermediate
Saved/Config/WindowsEditor/SourceControlSettings.ini
Saved/Autosaves
Saved/Config/WindowsEditor
Saved/Crashes
Saved/WorldPartition
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient
